$main-font: "Montserrat",
sans-serif;
$second-font: "Roboto",
sans-serif;
$third-font: "Kaushan Script",
cursive;

$main-color: #ffffff;
$second-color: #333333;
$third-color: #999999;
$fourth-color: rgb(252, 227, 138);
